/* 
F8EDED white
FF8225 orange
B43F3F dark red
173B45 dark blue
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: cafeFrancoise;
    src: url(fonts/Cafe\ Francoise_D.otf);
}

@font-face {
    font-family: Semplicita;
    src: url(fonts/Semplicita\ Light.otf);
}

@font-face {
    font-family: SemplicitaBold;
    src: url(fonts/Semplicita\ Bold\ Italic.otf);
}

body {
    background-color: #B43F3F;
    font-family: Semplicita;
    font-size: 1.4rem;
}

#navButtons {
    text-align: center;
}

#navButtons button {
    height: 3rem;
    width: 6rem;
    background-color: #FF8225;
    color: #F8EDED;
    border: 0px;
    border-radius: 4px;
    margin: 0.5rem;
}

#navButtons button:hover {
    cursor: pointer;
}

#homeButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;

}

#menuButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;
}

#aboutButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;
}

#content {
    text-align:center;
    width: clamp(20rem, 50vw, 70rem);
    margin: auto;
    background-color: #F8EDED;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

#content h1 {
    font-family: SemplicitaBold, Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 2.3rem;
    /* border: 1px solid #B43F3F; */
    border-radius: 4px;
    /* color: #F8EDED; */
}

h2 {
    margin-bottom: 0px;
}

ul li {
    list-style-type: none;
}