/* 
F8EDED white
FF8225 orange
B43F3F dark red
173B45 dark blue
*/


@font-face {
    font-family: Semplicita;
    src: url(fonts/Semplicita\ Light.otf);
}

@font-face {
    font-family: SemplicitaBold;
    src: url(fonts/Semplicita\ Bold\ Italic.otf);
}

body {
    background-color: #B43F3F;
    font-family: Semplicita;
    font-size: 1.4rem;
}

#navButtons {
    text-align: center;
}

#navButtons button {
    height: 3rem;
    width: 6rem;
    background-color: #FF8225;
    color: #F8EDED;
    border: 0px;
    border-radius: 4px;
    margin: 0.5rem;
    transition: background-color 0.5s;
}

#navButtons button:hover {
    cursor: pointer;
    background-color: #3FB4B4;
}

#homeButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;

}

#menuButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;
}

#aboutButton {
    font-family: Semplicita;
    font-size: 1.3rem;
    font-weight: 900;
}

#content {
    text-align:center;
    width: clamp(20rem, 50vw, 70rem);
    margin: auto;
    background-color: #F8EDED;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

#content h1 {
    font-family: SemplicitaBold, Arial, Helvetica, sans-serif;
}

section {
    margin-bottom: 2.3rem;
    /* border: 1px solid #B43F3F; */
    /* border-radius: 4px; */
    /* color: #F8EDED; */
}

/* -------------- Section Home -------------- */

#sectionInfo {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: clamp(20rem, 40vw, 50vw);
    margin: auto;
}

#sectionSchedule {
    font-size: 1.2rem;
}

#sectionSchedule h3{
    font-size: 1.4rem;
}

#sectionLocation {
    font-size: 1.2rem;
    border-top: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: clamp(20rem, 40vw, 50vw);
    margin: auto;
}

#sectionLocation h2{
    font-size: 1.5rem;
}

#sectionLocation h4{
    font-size: 1.2rem;
}


/* -------------- Section Menu -------------- */

#section-pizza, #section-sides, #section-desserts, #section-beverages {
    /* border: 2px solid #B43F3F; */
    border-radius: 8px;
    text-align: -webkit-center;
}

.meal {
    background-color: #F8EDED;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: clamp(20rem, 40vw, 50vw);
}

#section-pizza .meal:last-child {
    border-bottom: 0px;
}

#section-sides .meal:last-child {
    border-bottom: 0px;
}

#section-desserts .meal:last-child {
    border-bottom: 0px;
}

#section-beverages .meal:last-child {
    border-bottom: 0px;
}




/* -------------- Section About Us -------------- */


#sectionAbout {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: clamp(20rem, 40vw, 50vw);
    margin: auto;
}

#about-us {
    font-size: 3rem;
}

#sectionContact {
    font-size: 1.2rem;
    width: clamp(20rem, 40vw, 50vw);
    margin: auto;
}

#contact-us {
    font-size: 3rem;
}

h2 {
    margin-bottom: 0px;
}

ul li {
    list-style-type: none;
}